<h2><%= "Application ##{@application.id} for #{@application.name}" %></h2>
<h3><%= "Application Status: #{@application.status}" %></h3>

<% @application.pet_applications.each do |pet_application| %>
    <div id="app-<%= pet_application.id %>">
        <% if pet_application.application_status.nil? %>
            <p><%= pet_application.pet.name %>
               <% if pet_application.pet.adoptable %>
                <%= button_to "Approve", "/admin/applications/#{pet_application.id}", method: :patch, params: { application_status: "Approved"} %>
              <% else %>
                This pet has already been adopted.
                <% end %>
              <%= button_to "Reject", "/admin/applications/#{pet_application.id}", method: :patch, params: { application_status: "Rejected"} %></p>
    </div>
        <% else %>
            <p><%= pet_application.pet.name %> Application Status:<%= pet_application.application_status %></p>
        <% end %>
     <% end %>
