<h4> <i>** Admin View **</i> </h4>
<h1> <%= @shelter.name %> </h1>
<p><b>Address:</b> <br>
  <%= @shelter.street_address %> <br>
  <%= @shelter.city %>, <%= @shelter.state  %> <%= @shelter.zip_code %></p>

<h3> Statistics </h3>
<ul>
  <li><b>Number of Adoptable Pets:</b> <%= @shelter_info.adoptable_pets_count %> </li>
  <li><b>Average Age of Adoptable Pets:</b> <%= @shelter_info.avg_adoptable_pet_age.round(2) %> </li>
  <li><b><%= @shelter_info.adopted_pets_count %></b> pets have been adopted from this shelter! :D </li>
</ul>
<hr>
<div id = "action_required">
  <% if @shelter_info.has_pending_applications? %>
    <h2> Action Required: </h2>
    <h3> Pets Pending Review: </h3>
    <ul><% @shelter_info.pending_pets.each do |pet| %>
      <li> <%= pet.name %> </li>
      <% pet.pet_applications.each do |pet_app| %>
        <% if pet_app.application_status.nil? %>
        <p><%= "Approve or Reject #{pet_app.application.name}'s application " %><%= link_to "HERE" , "/admin/applications/#{pet_app.application.id}"%></p>
          <% end %>
        <% end %>
      <% end %>
  <% end %>
  </ul>
</div>
