<h4> <i>** Admin View **</i> </h4>
<h2> <%= @shelter.first.name %> </h2>
<p><b>Address:</b> <br>
  <%= @shelter.first.street_address %> <br>
  <%= @shelter.first.city %>, <%= @shelter.first.state  %> <%= @shelter.first.zip_code %></p>
